.filter-menu__backdrop { 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  height: 100vh;
  height: 100svh;
  width: 100%;
  z-index: var(--z-10);
  background-color: var(--color-1__50);
}

.filter-menu__modal {
  position: relative;
  height: 100vh;
  height: 100svh;
  width: 80%;
  max-width: 450px;
  z-index: var(--z-10);
  background-color: var(--color-4);
  padding: 0.5rem;
  overflow-y: scroll;
}

.filter-menu__modal::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.filter-menu__close-button-wrapper {
  height: 100svh;
  height: 100vh;
}

.button--close-filter-menu { 
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: auto;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background-color: var(--color-3);
}

.filter-menu__backdrop::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 359px) {
  .filter-menu__backdrop { 
    position: static;
    width: 360px;
    margin-bottom: var(--header-height);
    overflow-x: auto; 
    overflow-y: scroll; 
  }
  
  .filter-menu__modal {
    margin-bottom: calc(var(--header-height) + var(--header-search-bar-height));
    position: static;
    width: 360px;
    overflow-x: auto; 
    overflow-y: scroll; 
  }
}