/* PRICE FILTER */
.price-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.price-filter__title {
  color: var(--color-2);
}

.price-filter__group-1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: 1rem 0;
  justify-items: center;
  align-items: center;
}

.price-filter__button-container {
  display: flex;
  grid-column: 3 / 4;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}

.button--price-filter {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  padding: 0.25rem;
  color: var(--color-2);
  background-color: var(--color--light);
  transition:
  background-color 0.2s ease-in,
  color 0.2s ease-in;
}

.button--price-filter:hover {
  background-color: var(--color-2);
  color: var(--color-5);
}

.button--price-filter:active
,.button--price-filter:focus {
  background-color: var(--color-2);
  color: var(--color-5);
  outline: none;
}

.button--price-filter:disabled {
  background-color: var(--color-5);
  color: var(--color-6);
}