/* PRICE SLIDER */
.price-filter__slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 1rem 0;
  position: relative;
}

.price-filter__slider {
  width: 100%;
}

.price-filter__slider-track,
.price-filter__slider-range {
  position: absolute;
  border-radius: 3px;
  height: 2px;
  z-index: 1;
}

.price-filter__slider-track {
  background-color: var(--color--light);
  width: 100%;
}

.price-filter__slider-range {
  background-color: var(--color-2);
}

.price-filter__slider-value-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px;
  color: var(--color-1);
  align-items: center;
}

.price-filter__slider-value {
  display: flex;
}

.price-filter__slider-value--left {
  justify-content: flex-start;
}

.price-filter__slider-value--right {
  justify-content: end;
}

.price-filter__slider-value span,
.price-filter__slider-value span {
  font-size: 0.9rem;
}

.price-filter__thumb,
.price-filter__thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.price-filter__thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

.price-filter__thumb--left {
  z-index: 2;
  left: -1px;
  top: 0;
}

.price-filter__thumb--right {
  z-index: 3;
  right: -1px;
  top: 0px;
}

/* For Chrome browsers */
.price-filter__thumb::-webkit-slider-thumb {
  background-color: var(--color--light);
  border-radius: 50%;
  border: 2px solid var(--color-2);
  cursor: pointer;
  height: 25px;
  width: 25px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.price-filter__thumb::-moz-range-thumb {
  background-color: var(--color--light);
  border-radius: 50%;
  border: 2px solid var(--color-2);
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-top: 2.5px;
  pointer-events: all;
  position: relative;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .price-filter__thumb,
  .price-filter__slider {
    width: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .price-filter__thumb,
  .price-filter__slider {
    width: 300px;
  }
}