.product-filter {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 1rem;
}

.product-sidemenu-divider {
  display: flex;
  height: 2px;
  background-color: var(--color-2);
  width: 100%;
  opacity: 0.25;
}