.breadcrumb {
  display: flex;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  overflow-y: auto;
}

.breadcrumb__home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb__item {
  text-decoration: none;
}

.breadcrumb__item a,
.breadcrumb__item span,
.breadcrumb__item--non-selectable {
  text-decoration: none;
  color: var(--color-3);
  user-select: none;
  font-size: 1rem;
}

.breadcrumb__item span {
  margin: 0 0.5rem;
}

.breadcrumb__item a:hover {
  color: var(--color-1);
  text-decoration: underline;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .breadcrumb__item a,
  .breadcrumb__item span,
  .breadcrumb__item--non-selectable {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .breadcrumb__item a,
  .breadcrumb__item span,
  .breadcrumb__item--non-selectable {
    font-size: 1.2rem;
  }
}