.cart-product {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 40px;
  grid-column: 1 / 6;
  width: 100%;
  grid-auto-flow: column; 
  grid-auto-rows: minmax(50px, max-content);
  border-bottom: 1px solid var(--color-1__20);
  padding: 0.5rem;
}

.cart-product:last-of-type {
  border-bottom: none;
}

.cart-product--image-and-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-product--name {
  width: 100%;
  text-wrap: wrap;
  font-size: 0.9rem;
  color: var(--color-1);
  text-decoration: underline;  
  justify-content: center;
  display: flex;
  align-items: center;
}

.cart__image {
  display: none;
}

.button--cart-product-name {
  background: transparent;
  width: auto;
} 

.button--cart-product-name:hover {
  color: var(--color-3);
}

.button--cart-product-name:focus-within {
  outline: 2px solid var(--color-3);
  outline-offset: 2px;
  border-radius: var(--border-radius);
}

.cart-product--price {
  display: flex;
  align-items: center;
} 

.cart-product--price span { 
  width: 100%;  
  overflow-wrap: break-word;
  font-size: 0.9rem;
  text-align: center;
  color: var(--color-1);
}

.cart-product--select-quantity {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  justify-content: center;
}

.cart-product-subtotal {
  display: flex;
  align-items: center;
}

.cart-product-subtotal span {
  width: 100%;
  text-wrap: break-word;
  word-break: break-all;
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-1);
}

.cart-product-remove {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__price {
  display: grid;
  width: 100%;
  grid-column: 2 / 3;
}

.button--select-quantity {
  height: 45px;
  width: 45px;
  border-radius: 5px;
  cursor: pointer;
}

.button--remove-from-cart {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: transform 0.25s ease;
}

.button--remove-from-cart:active,
.button--remove-from-cart:focus,
.button--select-quantity:focus,
.button--select-quantity:active {
  outline: 2px solid var(--color-3);
}

/* MEDIA QUERIES */
@media screen and (min-width: 550px) {  
  .cart-product {
    padding: 1rem;
  }

  .cart-product--price span { 
    font-size: 1rem;
  }
  
  .cart-product--select-quantity {
    font-size: 1rem;
  }
  
  .cart-product-subtotal span {
    font-size: 1rem;
  }
}

@media screen and (min-width: 650px) {
  .cart__image {
    display: initial;
    border-radius: var(--border-radius);
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--color--light);
    user-select: none;
  }
  
  .cart__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .cart-product {
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 40px;
  }

  .cart-product--name {
    width: calc(100% - 100px - 0.5rem);
    justify-content: flex-start;
  }  
}