.pagination {
  display: grid;
  justify-content: center;
  width: 300px;
  height: 30px;
  margin: 1rem 0;
}

.pagination__navigation {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  justify-content: center;
  gap: 0.5rem;
}

.button--pagination-navigation {
  width: 30px;
  height: 30px;
  background-color: var(--color--light__50);
  
  color: var(--color-1);
  border-radius: var(--border-radius);
}

.button--pagination-navigation:hover {
  background-color: var(--color-4);
}

.button--pagination-navigation__active {
  background-color: var(--color-2);
  color: var(--color-5);
}

.button--pagination-navigation__active:hover { 
  background-color: var(--color-1); 
}

.button--pagination-navigation:disabled {
  cursor: auto;
}

.button-pagination-navigation-next-prev:disabled {
  background-color: var(--color-6);
  opacity: 0.4;
}

.pagination-ellipsis {
  user-select: none;
  margin: auto;
  width: 30px;
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 359px) {
  .pagination {
    width: 100%;
  }
}