.product-view {
  display: grid;
  grid-template-rows: 100px min-content;
  width: 100%;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .product-view {
    display: grid;
    width: 1000px;
    gap: 2rem;
    justify-self: center;
  }
}