.product-view {
  display: grid;
  grid-template-rows: 100px auto;
  width: 100%;
  gap: 1rem;
}

/* TODO: CARACTERISTICS */
.product-view-characteristics {

}

@media screen and (min-width: 1024px) {
  .product-view {
    display: grid;
    grid-template-rows: 75px 500px;
    width: 1000px;
    gap: 2rem;
  }
}