.product-in-cart-label {
  display: flex;
  position: absolute;
  align-items: center;    
  height: 35px;
  width: 150px;
  background-color: var(--color-1);
  top: 1rem;
  padding: 0.5rem;
}

.product-in-cart-label--left {
  left: 0;
  justify-content: end;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.product-in-cart-label--right {
  right: 0;
  justify-content: start;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.product-in-cart-label span {
  font-size: 1.1rem;
  margin-right: 5px;
  color: var(--color-5);
}