.product-page__content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}

.product-page__no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color-5);
  border: 2px solid var(--color-3__50);
  border-radius: var(--border-radius);
}

.product-page__no-result-status-message {
  display: flex;
  height: 100%;
  width: 100%;  
  flex-direction: column;
}

.product-page__no-result h1 {
  text-align: center;
  line-height: calc(2rem * 1.1);
  margin: 1rem 0;
}

.product-page__no-result h3 {
  text-align: center;
}

.product-page__header--1 {
  text-align: center;
  font-size: 2.1rem;
  margin: 1rem 0;
  color: var(--color-2);
}

.product-page__header--2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
  color: var(--color-3);
}

.product-page__no-result-return-back-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.button--search-no-result-return-back {
  width: 150px;
  height: 50px;
  background-color: var(--color-1);
  color: var(--color-5);
  border-radius: var(--border-radius);
  transition:
    background-color 0.2s ease,
    outline 0.2s ease,
    color 0.2s ease;
}

.button--search-no-result-return-back:focus-visible {
  outline: 2px solid var(--color-7);
  outline-offset: -5px;
  color: var(--color-7);
}

.button--search-no-result-return-back:hover {
  background-color: var(--color-2);
}

/* Toolbar */
.product-page__toolbar {
  display: grid;
  grid-template-columns: 40px 40px 1fr;
  height: 40px;
  gap: 10px;
  margin: 0.5rem 0;
}

/* filter / sidemenu toggle button */
.button--toggle-filter-menu {
  width: 100%;
  background-color: transparent;
  border-radius: var(--border-radius);
}

.button--toggle-filter-menu-active {
  background-color: var(--color-2); 
  border-radius: var(--border-radius);
}

/* clear filter */
.button--product-clear-filter { 
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-2);
  color: var(--color-5);
  gap: 0.5rem;
  padding: 0.5rem;
}

.button--toggle-filter-menu:focus-visible,
.button--product-clear-filter:focus-visible {
  background-color: var(--color-2);
  outline: 1px solid var(--color-5);
  outline-offset: -4px;
}

.button--product-clear-filter-disabled { 
  background-color: var(--color-5);
  outline: 1px solid var(--color-5);
  color: var(--color-6);
  pointer-events: none;
}

@media screen and (min-width: 1024px) {
  .product-page__content {
    grid-column: 2 / 3;
  }

  .product-page__no-result {
    width: 750px;
  }
}
