@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
}

select {
    font: inherit;
    border: 0;
    background-color: var(--color--light);
}

/* PAGE LAYOUT */
#root {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;

    /* Colors */
    --color-1: #062c43;
    --color-1__50: rgba(6, 44, 67, 0.5);
    --color-1__20: rgba(6, 44, 67, 0.2);
    --color-2: #054569;
    --color-3: #5591a9;
    --color-3__50: rgba(85, 145, 169, 0.2);
    --color-3: #5591a9;
    --color-4: #9ccddc;
    --color-5: #ced7e0;
    --color-5__50: rgba(206, 215, 224, 0.5);
    --color-6: #878787;
    --color-7: rgb(255, 184, 51);
    --color--light: #fff; 
    --color--light__50: rgb(255, 255, 255, 0.5); 
    --border-radius: 6px;

    /* Layout */
    --header-height: 60px;
    --header-bar-height: 50px;
    --header-search-bar-height: 60px;

    /* Z-index */
    --z-1: 1;
    --z-2: 2;
    --z-3: 3;
    --z-4: 4;
    --z-5: 5;
    --z-8: 8;
    --z-9: 9;
    --z-10: 10;
}

.page {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    min-height: 100svh;
    background-color: rgb(211, 90, 90);
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    padding: 0.5rem;
}

.main__product-page {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: var(--color--light__50);
    gap: 10px;
    padding: 0;
    justify-self: center;
}

.main--status-page {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main--cart {
    flex-flow: column nowrap;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.nav:focus-visible {
    outline: none;
    border-radius: var(--border-radius);
}

.nav:focus-visible .button--toggle-cart {
    background-color: var(--color-1);
    border: 1px solid var(--color-7);
    color: var(--color-7);
}

/* BUTTONS */
button {
    font: inherit;
    border: 0;
    background-color: rgb(253, 253, 253, 1);
    cursor: pointer;
    user-select: none;
}

.button--toggle-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    width: 75px;
    height: 40px;
    padding: 0.25rem;
    background-color: var(--color-5);
    border: 1px solid var(--color-5);
    color: var(--color-1);
    user-select: none;
    transition: 
        background-color 0.2s ease,
        color 0.2s ease,
        border 0.2s ease;
}

.button--toggle-cart:hover {
    background-color: var(--color-1);
    border: 1px solid var(--color-5);
    color: var(--color-5);
}

.button--navigate-back:hover {
    height: 50px;
    background-color: var(--color-7);
    border-radius: var(--border-radius);
    color: var(--color-1);
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0.5rem;
}

.product-stock-element__container {
  font-size: 1rem;
  line-height: calc(1rem * 1.2);
}

.product-stock-element__coming-soon {
    color: rgb(154, 154, 11);
}

.product-stock-element__stock--in-stock {
    color: green;
}

.product-stock-element__stock--low-stock {
    color: rgb(180, 5, 5);
}

/* MEDIA QUERIES */
@media screen and (max-width: 359px) {
    .page {
        overflow-x: scroll;
    } 

    .main {
        width: 360px;
    }  
}

@media screen and (min-width: 360px) {
  
}

@media screen and (min-width: 768px) {
    .main__product-page {
        padding: 0.5rem;
    }   
}

@media screen and (min-width: 1024px) {
    .main__product-page {
        grid-template-rows: 1fr;
        grid-template-columns: 300px 1fr;
        background-color: var(--color--light__50);
        gap: 10px;
        padding: 0;
        justify-self: center;
    }
}

@media screen and (min-width: 1400px) {
    .main__product-page {
        grid-template-rows: 1fr;
        grid-template-columns: 300px 1fr 300px;
        background-color: var(--color--light__50);
        gap: 10px;
        padding: 0;
        justify-self: center;
    }
}

@media screen and (min-width: 2500px) {
    .main__product-page {
        width: 2000px;
        /* margin: 0 auto; */
    }
}