@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
}

select {
    font: inherit;
    border: 0;
    background-color: var(--color--light);
}

/* PAGE LAYOUT */
#root {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;

    --color-1: #062c43;
    --color-1__50: rgba(6, 44, 67, 0.5);
    --color-1__20: rgba(6, 44, 67, 0.2);
    --color-2: #054569;
    --color-3: #5591a9;
    --color-3__50: rgba(85, 145, 169, 0.2);
    --color-3: #5591a9;
    --color-4: #9ccddc;
    --color-5: #ced7e0;
    --color-5__50: rgba(206, 215, 224, 0.5);
    --color-6: #878787;
    --color--light: #fff; 
    --color--light__50: rgb(255, 255, 255, 0.5); 
    --border-radius: 6px;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-5);
}

.main,
.footer {
    padding: 0.5rem;
}

.main {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
}

.main__product-page {
    flex-direction: column;
    gap: 0;
    background-color: var(--color--light__50);
}

.main--status-page {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main--cart {
    flex-flow: column nowrap;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 45px;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: 0.5rem;
    /* margin-top: 0.5rem; */
}

.footer__branding {
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    height: 100%;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}

.footer_page-info {
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

/* BUTTONS */
button {
    font: inherit;
    border: 0;
    background-color: rgb(253, 253, 253, 1);
    cursor: pointer;
    user-select: none;
}

.button--toggle-cart {
    border-radius: 5px;
    width: 75px;
    height: 40px;
    padding: 0.25rem;
    background-color: var(--color-5);
    color: var(--color-1);
    transition: transform 0.2s ease;
}

.button--toggle-cart:hover {
    transform: scale(1.05);
}

.button--search-bar__submit {
    width: 75px;
    height: 100%;
    background-color: var(--color-1);
    border: 2px solid var(--color-5);
    color: var(--color-5);
    padding: 0.5rem;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.button--search-bar-remove-term {
    position: absolute;
    right: calc(75px + 0.5rem);
    height: 30px;
    width: 30px;
    align-self: center;
    display: flex;
    background-color: transparent;
}

.button--navigate-back {
    height: 50px;
    background-color: var(--color-5);
    border-radius: var(--border-radius);
    color: var(--color-1);
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0.5rem;
}

/* PRODUCT STOCK */
.about-product__stock {

}

.product-card__stock {

}

.product-stock-element__container {
  font-size: 1rem;
  line-height: calc(1rem * 1.2);
}

.product-stock-element__coming-soon {
    color: rgb(154, 154, 11);
}

.product-stock-element__stock--in-stock {
    color: green;
}

.product-stock-element__stock--low-stock {
    color: rgb(180, 5, 5);
}

/* MEDIA QUERIES */
@media screen and (max-width: 359px) {
    .page {
        overflow-x: scroll;
    } 
    
    .main,
    .footer,
    .header {
        width: 360px;
    }  
}

@media screen and (min-width: 360px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px;
        padding: 0 1rem;
    }

    .footer__branding {
        grid-area: 1 / 1 / 2 / 2;
        justify-content: start;
    }
    
    .footer_page-info {
        grid-area: 1 / 2 / 2 / 3;
        justify-content: end;
        text-align: end;
    }
}

@media screen and (min-width: 768px) {
    .main {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .main__product-page {
        flex-direction: initial;
        justify-content: center;
        padding: 0.5rem;
    }   
}