.product-rating-container {
  display: flex;
  align-items: center;
}

.product-label {
  display: flex;
  position: relative;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.product-radio {
  display: none;
  position: absolute;
  width: 100%; 
  height: 100%; 
}

.product-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  transition: transform 0.4s ease-in-out;
}

.product-rating--read-only {
  cursor: default;
}

.product-rating:hover {
  transform: scale(1.1); 
}

.product-rating--read-only:hover {
  transform: none; 
}

.product-rating:focus-visible {
  outline: 2px solid var(--color-2);
  outline-offset: -2px;
  border-radius: var(--border-radius);
}